<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="FTP_IP" value="172.16.137.200" />
    <!--更改value时需同步修改Web服务器配置文件对应节点-->
    <add key="FTP_Server" value="D:\Program Files\Serv-U" />
    <add key="FTP_Home" value="D:\testFTP" />
    <!--更改value时需同步修改Web服务器配置文件对应节点-->
  </appSettings>
</configuration>
